@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    font-family: 'Finlandica', sans-serif;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title{
    font-size: 28px;
    font-weight: 600;
    background-color: #bd00ff;
    text-align: center;
    padding: 5px 0;
    border-radius: 50px;
    color: white;
    margin-bottom: 30px;
}

input{
    font-size: 25px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #bd00ff;
}

.form{
    display: flex;
    flex-direction: column;
    border: 3px solid #bd00ff;
    padding: 10px;
    border-radius: 15px;
}

.button{
    font-size: 28px;
    font-weight: 600;
    background-color: white;
    border-radius: 50px;
    color: #bd00ff;
}

.button:hover{

}

.message{
    font-size: 18px;
    color: #ff3737;
}